<%- include('sidebar') -%> 

<html lang="en">
<head>
	<meta charset="UTF-8">
	<script src="https://kit.fontawesome.com/b99e675b6e.js"></script>
	<link rel="stylesheet" href="/styles.css">
</head>
<body>
    <button style="position: relative; top: 40px; right: -1640px;" onclick="LoadClassroomPage();">Create Class</button>
    <button style="position: relative; top: -28px; right: -1340px;" onclick="LoadJoinPage();">Join Class</button>

<div class="wrapper hover_collapse" id="test">
	 <div class="main_container">
        <div class="container" id="container">
    </div>
</div>
</div>
<script src="https://cdnjs.cloudflare.com/ajax/libs/crypto-js/3.1.2/rollups/aes.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/crypto-js/3.1.9-1/crypto-js.min.js"></script>
<script>
    const test = document.getElementById('test');
    var container = document.getElementById('container');
    async function getInfo()
    {
        const classLoaded = await fetch('/loadClasses');
        const classes = await classLoaded.json()
        const classroomBefore = classes.classroom.split(',')
        const ClassroomFiltering = classroomBefore.filter(str => str.match('title'));
        const ClassroomToString = ClassroomFiltering.toString();
        const ClassroomNoQuotes = ClassroomToString.replace(/'/g,"");
        const ClassroomNoComma = ClassroomNoQuotes.replaceAll(',', '')
        const ClassroomNoN = ClassroomNoComma.replace(/\n/g, '')  
        const ClassroomPre = ClassroomNoN.split("title:")
        const FinalClassroom = ClassroomPre.slice(1);
        const codeFiltering = classroomBefore.filter(str => str.match('classroomCode'));
        const codeToString = codeFiltering.toString();
        const codeNoQuotes = codeToString.replace(/'/g,"");
        const codeNoComma = codeNoQuotes.replaceAll(',', '')
        const codeNoN = codeNoComma.replace(/\n/g, '')  
        const codePre = codeNoN.split("classroomCode:")
        const finalCode = codePre.slice(1);
        for (var i = 0; i < FinalClassroom.length; i++) 
        {
            var Title = document.createElement('div');
            Title.className = "content"
            Title.innerHTML = FinalClassroom[i] 
            Title.style.cursor = "pointer";
            container.appendChild(Title);
            var Code = document.createElement('p');
            Code.id = "ClassCode";
            Code.innerHTML = finalCode[i]
            Code.style.display = "none";
            Title.appendChild(Code);
            Title.onclick = function LoadClassPage()
            {
                var code = this.childNodes[1].innerHTML;
                var ClassCode = code.replace(/\s+/g, '')
                localStorage.removeItem('code');
                localStorage.setItem('code', ClassCode);
                location.assign('/Classroom')
            };
        }
    }
    window.addEventListener('DOMContentLoaded', async () =>
    {
            const id = await fetch('/getId')
            if(id.status === 200)
            {
                const studentIdPre = await id.json();
                const studentId = studentIdPre.userid;
                getInfo();
            }
    })
    function LoadClassroomPage()
    {
        location.assign('/makeClass');
    }
    function LoadJoinPage()
    {
        location.assign('/joinClass');
    }
</script>  
</body>
</html>