<%- include('sidebar') -%> 

<div id="templateHtml">
<head>
    <link rel="stylesheet" href="/styles.css">
</head>
<div id="editableTemp">
    <form action="/postHtml" style="width: 90%; left: 5%;" id="postHtml">
        <input type="text" placeholder="Title" style="font-size: x-large;" id="editTitle">
        <button>Save</button>
    </form>
    <div id="MissingWork"><h1>Missing Work</h1></div>
    <div id="ToDoWork"><h1>To-Do</h1></div>
    <button onclick="preview()" style="position: relative; left: 46%; top: 575px;">Preview</button>
</div>
<div id="finalTemp" style="display: none; width: 90%;">
    <div id="TopDiv">
        <h1 style="font-size: xx-large;" id="finalTitle"></h1>
        <h1 style="font-size: xx-large;" id="finalCode"></h1>
    </div>
    <div id="borderLine"></div>
    <div id="MissingWorkFinal"><h1>Missing Work</h1></div>
    <div id="ToDoWorkFinal"><h1>To-Do</h1></div>
    <button onclick="edit()" id="EditButton">Edit</button>
</div>
<script>
    //gets form
    const form = document.querySelector('form');
    //gets code from localstorage
    var codes = localStorage.getItem('code')
    var code = codes.replaceAll("\"", "")
    function preview()
    {
        //gets title textbox value
        var editTitle = document.getElementById("editTitle").value;
        //gets the whole forms div
        const editTemp = document.getElementById("editableTemp");
        //gets the whole preview div
        const finalTemp = document.getElementById("finalTemp");
        //makes the title of the classroom equal to the value of the title textbox
        document.getElementById("finalTitle").innerHTML = editTitle;
        console.log(document.getElementById("finalTitle"));
        //makes the form and everything else in the editDiv invisble
        editTemp.style.display = "none";
        //makes the final classroom shown
        finalTemp.style.display = "inline";
    }
    function edit()
    {
        //gets the Title value
        var finalTitle = document.getElementById("finalTitle").value;
        //gets the whole forms Div
        const editTemp = document.getElementById("editableTemp");
        //gets the whole final classrooms Div
        const finalTemp = document.getElementById("finalTemp");
        //makes the title textbox equal to the value of the final clasrooms title (ie. fills out the textbox so teacher doesnt have to reinput it)
        document.getElementById("editTitle").innerHTML = finalTitle;
        //makes the final Div invisable
        finalTemp.style.display = "none";
        //makes the edit div shown
        editTemp.style.display = "inline";
    }
        //when the form is submited do ↓ function
    form.addEventListener('submit', async (j) => {
        j.preventDefault();
        //make sure the final div is fully updated incase teachers dont use preview
        preview();
        //gets the final classrooms innerhtml
        const templateHtmlPre = document.getElementById("finalTemp").innerHTML;
        //gets rid of all the /n 
        const templateHtml = templateHtmlPre.replace(/(\r\n|\n|\r)/gm, "");
        //gets the code from local storage similarly to how we did above
        console.log(templateHtmlPre);
        console.log(templateHtml);
        var finalTitle = document.getElementById("finalTitle").innerText;
        localStorage.removeItem('title');
        localStorage.setItem("title", finalTitle);
        var codes = localStorage.getItem('code')
        var classroomCode = codes.replaceAll("\"", "")
        try {
            //posts the html and classcode to a backend api(goes to routing first)
            const html = await fetch('/postHtml', { 
            method: 'POST', 
            body: JSON.stringify({ templateHtml, classroomCode }),
            headers: {'Content-Type': 'application/json'}
            });
            //gets the returned json
            const classroomHtml = await html.json();
            if(classroomHtml)
            { 
                //if the json exists send the user to the classroom
                location.assign('/Classroom');
            }

        }
        //if there is an error log the error
        catch (err) 
        {
            console.log(err);
        }
  });
  //on load do ↓ function
  window.addEventListener('DOMContentLoaded', async () => 
    {
        document.getElementById('finalCode').innerHTML = code;
        //send the code to an api so we can use it to find the html and we can get it back and render it
        const classHtml = await fetch('/getHtml', { 
            method: 'POST', 
            body: JSON.stringify({ code }),
            headers: {'Content-Type': 'application/json'}
            });        
        //gets the returned json
        const classroomHtml = await classHtml.json();
        //makes it a string
        const classroomBeforeSplit = JSON.stringify(classroomHtml);
        if(classroomBeforeSplit.includes('d'))
        {
            //splits the string so it doesnt have impeading \ 
            const classTemp = classroomBeforeSplit.replaceAll("}", "");
            const classTempNoSlash = classTemp.replaceAll("\\", "");
            const Classroom = classTempNoSlash.replace('{"HTML":"', ""); 
            //makes the final classroom equal to the saved html we sent previously 
            document.getElementById('finalTemp').innerHTML = Classroom;
            //gets the title of the final classrooms title
            var finalTitle = document.getElementById("finalTitle").innerText;
            //makes the title textbox's value equal to the final clasrooms title
            document.getElementById("editTitle").value = finalTitle;
        }

        var TitlePre = localStorage.getItem('title');
        var Title = TitlePre.replaceAll("\"", "")
        document.getElementById("editTitle").value = Title;

        console.log(document.getElementById("editTitle").value);
    })
    
</script>
</div>
